@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

h1 , h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4f4f4f;
    

}

#logo {
    font-size: 270%;
    text-align: center;
    
}

#title {
    text-align: center;

}

#menu {
    letter-spacing: 2px;
    font-size: 120%;

}

#menu li {
    float: left;
    margin-right: 15%;
    margin-top: 20px;
    margin-left: 20px;
    
    text-align: center;
    list-style-type: none;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#menu a:hover {
    background-color: lightblue;
    border-bottom: 2px solid #2f4f4f;
    border-radius: 3px;
}