@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: #aab6fe;
        
}

h1 , h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fafafa;
    font-weight: bold;
    
}

p {
    color: #49599a;
    padding-bottom: 3px;
}

header {
    background-color: #49599a;
    width: 100%;

}

#logo {
    font-size: 270%;
    text-align: center;
    
}

#title {
    text-align: center;
    font-size: 160%;

}

/* nav bar */

#menu {
    letter-spacing: 2px;
    font-size: 160%;
    height: 50px;
    text-align: center;   
    padding-top: 2%;
}

#menu li {
    margin: 1%;
    padding: 5%;
    list-style-type: none;
    display: inline;

}

#menu a {
    text-decoration: none;
    font-weight: bold;
    color: #fafafa;
}

#menu a:hover {
    border-bottom: 2px solid #81c784;
}

.active {
    border-bottom: 2px solid #81c784;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    padding: 10px;
    background: url(../images/Woman\ with\ nature.jpg) no-repeat left center;
    clear: both;
}

#cover-text {
    color: #fafafa;
    font-size: 120%;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    width: 300px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(73, 89, 154, .6);
    border-radius: 5px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* Introduction */

#intro-background {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding: 5%;
}

#introduction {
    float: left;
    height: 300px;
    width: 40%;
    margin-top: 50px;
    padding-bottom: 50px;
    color: #49599a;
}

#intro-top {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #81c784;
    border-radius: 5px;
    background-color: #fafafa;
    
}

#intro-bottom {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #81c784;
    border-radius: 5px;
    background-color: #fafafa;
}

#intro-image > img {
    border-radius: 5px;
    height: 300px;
    width: 500px;
    float: right;
    margin: 50px 0 50px 0;
    
}

#techniques {
    font-style: italic;
    border-bottom: 1px solid #81c784;
}

#tips {
    font-style: italic;
    border-bottom: 1px solid #81c784;
}

/* contact map */

#map-outer {
    padding: 7%;
}

#map-wrapper {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #81c784;
    border-radius: 5px;
    
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* footer */

.footer-background {
    background-color: #49599a;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    color: #fafafa;
    padding: 20px;
}

.social-networks i:hover {
    color: #81c784;
}

#address {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    color: #fafafa;

}
/* form */

#form-outer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.form-section {
    width: 500px;
    height: 450px;
    color: #49599a;
    margin: 50px 10px 20px 50px;
    border: 2px solid #81c784;
    border-radius: 5px;
    background-color: #fafafa;
}

form {
    padding: 20px;
}

form > h2 {
    padding-bottom: 10px;
}

.input-text {
    width: 100%;
    height: 25px;
    color: #49599a;
    border: 1px solid #49599a;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
}

#input-text {
    width: 30%;
    height: 25px;
    color: #49599a;
    border: 1px solid #49599a;
    border-radius: 2px;
    margin-top: 10px;
    padding: 4px;
}

.input-text:hover {
    border-color: #81c784;
}

#input-text:hover {
    border-color: #81c784;
}

#book-button {
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #81c784;
    color: #49599a;
    border: 2px solid #81c784;
    border-radius: 2px;
    font-family: Montserrat, sans-serif;
    font-size: 140%;
    width: 100%;

}

#book-button:hover {
    background-color: #95E699;
    color: #49599a;
    border: 2px solid #81c784;
    border-radius: 2px;
    cursor: pointer;

}

#social-yoga {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    margin: 50px;

}

.safety-icons {
    font-size: medium;
    color: #fafafa;
    text-align: center;
    display: flex;
    justify-content: center;
}

.safety-icons li {
    list-style-type: none;
    background-color: #fafafa;
    margin: 10px;
    width: 200px;
    height: 200px;
    color: #49599a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #81c784;
    border-radius: 5px;
}

.safety-icons i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;
}

/* timesheet */

#timesheet-outer {
    padding: 5%;
}

#timesheet {
    font-family: Montserrat, sans-serif;
    padding: 4px;

}

table {
    text-align: center;
    margin: 0 auto 25px;
    color: #49599a;
    width: 100%;
}

th, td {
    border: 1px solid #81c784;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fafafa;
}

.times {
    padding: 5px;
}

#timesheet-outer > div {
    text-align: center;
    
}

#book{
    background-color: #81c784;
    color: #49599a;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    border: 2px solid #81c784;
    margin: 10px;
}

#book:hover {
    background-color: #95E699;
    color: #49599a;
    border: 2px solid #81c784;
}

/* techniques */

.technique-images {
    height: 200px;
    width: 150px;
    float: left;
    margin: 20px;
    border-radius: 5px;
}

.technique-images-wide {
    height: 200px;
    width: 300px;
    float: left;
    margin: 20px;
    border-radius: 5px;
}

.technique-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#technique-outer {
    width: 100%;
    padding: 40px;
}

#poses-title {
    color: #49599a;
    border-bottom: 1px solid #49599a;
    margin-bottom: 10px;
}

.techniques {
    border: 2px solid #81c784;
    border-radius: 5px;
    margin: 0 auto 50px;
    padding: 20px;
    width: 70%;
    background-color: #fafafa;
    color: #49599a;
}

#techniques-header {
    margin: 50px 0 20px 15%;
    color: #49599a;
}

.techniques > h2 {
    color: #49599a;
    padding-bottom: 10px;
}

#audio {
    height: 10%;
    width: 100%;
}

#music {
    text-align: center;
    padding: 0 50px 20px 50px;
}

.music {
    padding: 10px;
}

.music > p {
    padding: 10px;
}

#music-wrapper {
    display: flex;
    justify-content: center;
}

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width:1200px) {
    
    #logo {
        text-align: center;
    }

    #title {
        text-align: center;
    }

    #menu {
        text-align: center;
        background-color: #49599a;
    }

    #menu li {
        padding: 50px;
        margin: 1%;
    }

    #hero-outer {
        height: 400px;
        width: 100%;
    }

    #cover-text {
        float: left;
    }
    
    #intro-background {
        width: 100%;
    }

    #introduction {
        padding-bottom: 5%;
    }

    #intro-image > img {
        height: 200px;
        width: 350px;
        margin-right: 15%;    
    }

    .social-networks i {
        font-size: 180%;
        margin: 1%;
        padding: 3%;
        color: #fafafa;
    }

    #social-yoga {
        margin: 50px 10px 20px 10px;
    }

}

@media screen and (max-width: 950px) {

    .techniques > p {
        width: 90%;
    }

    .form-section {
        width: 500px;
        height: 450px;
        margin: 50px 10px 20px 10px;
        float: right;
    }

    #social-yoga {
        margin: 50px 10px 20px 10px;
    }

    .safety-icons i {
        font-size: 140%;
        margin: 1%;
        padding: 3%;
    }

    #address {
        width: 300px;
    }


}

@media screen and (max-width:770px) {
    #intro-image > img {
        float: left; 
    }

    #introduction {
        width: 350px;
        padding-bottom: 0;
    }

    #cover-text {
        right: 10px;
    }

    #menu li {
        padding: 1%;
    }

}

@media screen and (max-width: 400px) {
    #technique-images-wide {
        height: 8em;
        width: 10em;
    }

}