@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

h1, h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4f4f4f;

}

#logo {
    font-size: 270%;
    float: left;
    margin-left: 100px;
}

#title {
    float: left;
    margin-right: 40%;
    margin-left: 50px;    
}

#menu {
    display: inline-block;


}